@import '../../sharedAssets/shared-styles.css';

html, body, figure {margin:0px; padding:0px;}
body {
	/*--backPadding: 40px;
	padding-top: var(--backPadding);*/
}
header {
	position: fixed; top: 0px;
	width: 100%; box-sizing: border-box;
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 100%;
	justify-items: center;
	align-items: center;
	padding: calc(var(--unit)*2);
	background-color: var(--white);
	border-top: 6px solid var(--teal);
	border-bottom: 1px solid black;
}

.header-site__logo, .header-site__nav {
	width: 70%;
}
.header-site__logo {
	grid-area: 1 / 1 / 2 / 2 ;
	display: flex;
	align-items: center;

}
.header-site__nav {grid-area: 2 / 1 / 3 / 2 ;}

.header-site__logo figure {
	width: 30%;
	/*animation: logoAnim 1000ms ease-out 1;*/
	/*animation-play-state: paused;*/
}
.header-site__logo figcaption {
	padding: var(--unit) 0px;
	font-size: 0.6em;
}
.header-site__logo h1 {
	/*width: 50%; display: inline-block;*/
	text-align: center;
	padding-left: var(--unit);
}

section:nth-of-type(1) {
	--fauxHeight: 400px;
	background-color: var(--lightYellow);
	height: 70vh;
	margin-top: var(--fauxHeight);
}
section:nth-of-type(2) {background-color: var(--teal); height: 60vh;}

/*@keyframes logoAnim {
	0% {width: 50%; display: block;}
	100% {width: 10%; display: inline-block;}
}*/

