@import '/sharedAssets/shared-styles.css';

.example {
	--highColour: hsla(3, 90%, 60%, 1.0);
	background-image: paint(headerHighlight, stroke, 3px);
	/*background-image: paint(headerHighlight, stroke, 10px);*/
}

.example:nth-of-type(2) {--highColour: hsla(125, 90%, 60%, 1.0);}
