@import '../../sharedAssets/shared-styles.css';

html, body, article, div, figure, img
	{margin:0px; padding:0px;}

body {
	background-color: var(--white);
}

h2 {margin: 0px;}
article {
	--seaBlue: hsl(198,46%,74%);
	background-color: var(--seaBlue);
}

.map {
	position: relative;
}
.map__image {
	position: relative;
	width: 100vw; height: 50vw;
}

.map__image img {
	height: 100%; width: 100%;
	display: block;
	object-fit: cover;
}
.map__image figcaption {
	position: absolute;
	bottom:0px; right: 20px;
}

.map .marker {
	position: absolute;
	width: 34px; height: 31px;
}
